export(add_to_database)
export(database)
export(import_CPRD_data)
export(medcodes_to_read)
export(patients_in_window)
export(patients_per_medcode)
export(read_to_medcodes)
export(read_zip)
export(select_events)
import(assertthat)
import(sqldf)
import(stringr)
importFrom(dplyr,translate_sql_q)
