export(add_to_database)
export(append_to_temp_table)
export(build_date_fn)
export(compress)
export(database)
export(drop_all_temp_tables)
export(drop_temp_table)
export(first_events)
export(head.SQLiteConnection)
export(import_CPRD_data)
export(last_events)
export(medcodes_to_read)
export(patients_in_window)
export(patients_per_medcode)
export(qof_15_months)
export(qof_years)
export(read_to_medcodes)
export(read_zip)
export(select_by_year)
export(select_events)
export(standard_years)
export(temp_location)
export(temp_table)
export(to_stata)
export(to_temp_table)
export(uniform_hba1c_values)
export(wrap_sql_query)
import(assertthat)
import(stringr)
importFrom(foreign,write.dta)
